# Incluye todas las dependencias de producción
-r requirements.txt

# Dependencias específicas para testing
pytest==8.4.2
pytest-asyncio
mongomock
pytest-mock
pydantic-settings==2.4.0
aiosqlite==0.17.0
sentry-sdk[fastapi]==2.8.0
redis==5.0.7
celery==5.4.0
slowapi==0.1.9